In [57]:
#import packages
import numpy as np
import pandas as pd

In [58]:
#Two decimal places
pd.set_option('display.precision',2)
pd.options.display.float_format = '{:.0f}'.format

In [59]:
#This is a quicker way to read in the data that we want
data = pd.read_excel('/Users/Vicky/Downloads/Consolidated_Trained_Pivot.xlsx', sheet_name='Sum', header=4)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9892 entries, 0 to 9891
Data columns (total 28 columns):
ID                   9891 non-null object
Win Place %          9892 non-null object
Match Type           9891 non-null object
Assists              9891 non-null float64
Boosts               9892 non-null int64
Damage Dealt         9892 non-null float64
DBNO                 9892 non-null int64
Headshot Kills       9892 non-null int64
Heals                9892 non-null int64
Kill Plase           9892 non-null int64
Kill Points          9892 non-null int64
Kill Streaks         9892 non-null int64
Kills                9892 non-null int64
Longest Kill         9892 non-null float64
Match Duration       9892 non-null int64
Max Place            9892 non-null int64
Number of Groups     9892 non-null int64
Rank Points          9892 non-null int64
Revives              9892 non-null int64
Ride Distance        9892 non-null float64
Road Kills           9892 non-null int64
Swimming Distance    9892 non-null float64
Team Kills           9892 non-null int64
Vehicle Destorys     9892 non-null int64
Walking Distance     9892 non-null float64
Weapons Aquired      9892 non-null int64
Win Points           9892 non-null int64
Grand Total          9892 non-null float64
dtypes: float64(7), int64(18), object(3)
memory usage: 2.1+ MB

In [60]:
#Let's look at the top 5 records to see what the data might look like
data.head(5)

,ID,Win Place %,Match Type,Assists,Boosts,Damage Dealt,DBNO,Headshot Kills,Heals,Kill Plase,...,Revives,Ride Distance,Road Kills,Swimming Distance,Team Kills,Vehicle Destorys,Walking Distance,Weapons Aquired,Win Points,Grand Total
0,1crashfpp,1,crashfpp,94,354,33655,151,12,272,1782,...,11,632290,161,87,2,53,84312,255,0,1095795
1,1crashtpp,1,crashtpp,2,32,1840,11,0,29,175,...,0,49014,18,30,0,4,8721,15,0,84721
2,1duo,1,duo,7111,31010,3227997,13859,7931,23730,58604,...,2987,12519849,79,78789,34,276,18628900,38458,3989511,60439836
3,1duo-fpp,1,duo-fpp,22491,95074,10124770,43128,23576,79146,182202,...,10382,28945445,102,239920,79,499,65177828,119955,12762110,186722522
4,1flarefpp,1,flarefpp,55,117,14230,84,22,132,349,...,18,86996,0,193,1,4,108021,229,0,317194

In [61]:
#Get rid of spaces in variable names and look at last 5 records
data.columns = [c.replace(' ', '_') for c in data.columns]
data.tail(5)

,ID,Win_Place_%,Match_Type,Assists,Boosts,Damage_Dealt,DBNO,Headshot_Kills,Heals,Kill_Plase,...,Revives,Ride_Distance,Road_Kills,Swimming_Distance,Team_Kills,Vehicle_Destorys,Walking_Distance,Weapons_Aquired,Win_Points,Grand_Total
9887,0solo,0,solo,33,449,661560,0,2,564,497472,...,0,444238,0,2859,21,0,165371,27154,2681980,40062646
9888,0solo-fpp,0,solo-fpp,168,0,74294,0,4,1,987161,...,0,178,0,275,44,0,65957,3547,5545539,40066793
9889,0squad,0,squad,1486,570,1325580,8692,1254,863,3906441,...,365,319484,26,6461,716,12,2566776,41622,27188831,172046298
9890,0squad-fpp,0,squad-fpp,3886,996,3308586,20799,3234,1728,8944485,...,855,350273,12,10108,1381,12,4656305,93617,63625757,391845706
9891,NaN,Grand Total,NaN,1039745,4922381,581294668,2925550,1008659,6092998,211672691,...,732233,2695375773,15547,20052804,106142,35212,5132767576,16278064,2696907581,25105687353

In [62]:
#Drop the summary row
data=data[(data['Win_Place_%'] != "Grand Total")]

In [63]:
#Print table of means
data.mean()

Assists                 105
Boosts                  498
Damage_Dealt          58770
DBNO                    296
Headshot_Kills          102
Heals                   616
Kill_Plase            21401
Kill_Points          227049
Kill_Streaks            245
Kills                   416
Longest_Kill          10340
Match_Duration       710142
Max_Place             20009
Number_of_Groups      19336
Rank_Points          401045
Revives                  74
Ride_Distance        272508
Road_Kills                2
Swimming_Distance      2027
Team_Kills               11
Vehicle_Destorys          4
Walking_Distance     518933
Weapons_Aquired        1646
Win_Points           272663
Grand_Total         2538236
dtype: float64

In [64]:
data.describe()

,Assists,Boosts,Damage_Dealt,DBNO,Headshot_Kills,Heals,Kill_Plase,Kill_Points,Kill_Streaks,Kills,...,Revives,Ride_Distance,Road_Kills,Swimming_Distance,Team_Kills,Vehicle_Destorys,Walking_Distance,Weapons_Aquired,Win_Points,Grand_Total
count,9890,9891,9891,9891,9891,9891,9891,9891,9891,9891,...,9891,9891,9891,9891,9891,9891,9891,9891,9891,9891
mean,105,498,58770,296,102,616,21401,227049,245,416,...,74,272508,2,2027,11,4,518933,1646,272663,2538236
std,973,3533,357889,2113,724,3790,132085,1134130,1331,2874,...,541,1576297,7,12189,50,25,3255892,7344,1314086,11954213
min,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2236
25%,0,1,295,0,0,1,83,1343,1,2,...,0,0,0,0,0,0,2147,11,1546,18078
50%,2,9,1436,0,2,10,390,6437,6,10,...,0,5451,0,0,0,0,9817,44,8914,65169
75%,12,71,14487,5,23,93,5838,64023,62,98,...,1,47859,1,274,2,1,84094,507,80946,805622
max,75780,233628,23986406,142336,51464,223437,8944485,55126471,84180,205342,...,34978,88574973,324,649914,1381,1657,201980402,356872,63625757,569409109