In [2]:
#import packages
import numpy as np
import pandas as pd

In [4]:
#Two decimal places
pd.set_option('display.precision',2)
pd.options.display.float_format = '{:.0f}'.format

In [5]:
#This is a quicker way to read in the data that we want
data = pd.read_csv('/Users/Vicky/Downloads/train_V2.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4446966 entries, 0 to 4446965
Data columns (total 29 columns):
Id                 object
groupId            object
matchId            object
assists            int64
boosts             int64
damageDealt        float64
DBNOs              int64
headshotKills      int64
heals              int64
killPlace          int64
killPoints         int64
kills              int64
killStreaks        int64
longestKill        float64
matchDuration      int64
matchType          object
maxPlace           int64
numGroups          int64
rankPoints         int64
revives            int64
rideDistance       float64
roadKills          int64
swimDistance       float64
teamKills          int64
vehicleDestroys    int64
walkDistance       float64
weaponsAcquired    int64
winPoints          int64
winPlacePerc       float64
dtypes: float64(6), int64(19), object(4)
memory usage: 983.9+ MB

In [6]:
#Let's look at the top 5 records to see what the data might look like
data.head(5)

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
0,7f96b2f878858a,4d4b580de459be,a10357fd1a4a91,0,0,0,0,0,0,60,...,0,0,0,0,0,0,245,1,1466,0
1,eef90569b9d03c,684d5656442f9e,aeb375fc57110c,0,0,91,0,0,0,57,...,0,0,0,11,0,0,1434,5,0,1
2,1eaf90ac73de72,6a4a42c3245a74,110163d8bb94ae,1,0,68,0,0,0,47,...,0,0,0,0,0,0,162,2,0,1
3,4616d365dd2853,a930a9c79cd721,f1f1f4ef412d7e,0,0,33,0,0,0,75,...,0,0,0,0,0,0,203,3,0,0
4,315c96c26c9aac,de04010b3458dd,6dc8ff871e21e6,0,0,100,0,0,0,45,...,0,0,0,0,0,0,50,2,0,0

In [7]:
#Get rid of spaces in variable names and look at last 5 records
data.columns = [c.replace(' ', '_') for c in data.columns]
data.tail(5)

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
4446961,afff7f652dbc10,d238e426f50de7,18492834ce5635,0,0,0,0,0,0,74,...,0,1292,0,0,0,0,1019,3,1507,0
4446962,f4197cf374e6c0,408cdb5c46b2ac,ee854b837376d9,0,1,44,0,0,0,69,...,0,0,0,0,0,0,82,6,0,0
4446963,e1948b1295c88a,e26ac84bdf7cef,6d0cd12784f1ab,0,0,59,0,0,0,66,...,0,0,0,2,0,0,789,4,0,0
4446964,cc032cdd73b7ac,c2223f35411394,c9c701d0ad758a,0,4,180,1,1,2,11,...,2,0,0,0,0,0,2748,8,0,1
4446965,0d8e7ed728b6fd,8c74f72fedf5ff,62a16aabcc095c,0,2,268,0,0,1,18,...,0,1369,0,0,0,0,1244,5,0,1

In [ ]:
#Drop the summary row
data.countna()

In [64]:
data.describe()

,Assists,Boosts,Damage_Dealt,DBNO,Headshot_Kills,Heals,Kill_Plase,Kill_Points,Kill_Streaks,Kills,...,Revives,Ride_Distance,Road_Kills,Swimming_Distance,Team_Kills,Vehicle_Destorys,Walking_Distance,Weapons_Aquired,Win_Points,Grand_Total
count,9890,9891,9891,9891,9891,9891,9891,9891,9891,9891,...,9891,9891,9891,9891,9891,9891,9891,9891,9891,9891
mean,105,498,58770,296,102,616,21401,227049,245,416,...,74,272508,2,2027,11,4,518933,1646,272663,2538236
std,973,3533,357889,2113,724,3790,132085,1134130,1331,2874,...,541,1576297,7,12189,50,25,3255892,7344,1314086,11954213
min,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2236
25%,0,1,295,0,0,1,83,1343,1,2,...,0,0,0,0,0,0,2147,11,1546,18078
50%,2,9,1436,0,2,10,390,6437,6,10,...,0,5451,0,0,0,0,9817,44,8914,65169
75%,12,71,14487,5,23,93,5838,64023,62,98,...,1,47859,1,274,2,1,84094,507,80946,805622
max,75780,233628,23986406,142336,51464,223437,8944485,55126471,84180,205342,...,34978,88574973,324,649914,1381,1657,201980402,356872,63625757,569409109